.carousel {
  /* position: relative; */
  width: 100%;
  height: 250px;
  margin: 200 auto;
  overflow: hidden;
  padding: 0;
  box-sizing: border-box;
}

.carousel__container {
  display: flex;
  flex-direction: row;
  transition: transform 0.3s ease-in-out;
  width: 100%;
  height: 250px;
}

.carousel__elements {
  flex: 0 0 auto;
  width: 100%;
  height: 5%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.glider-contain {
  width: 100%;
  margin: 0 auto;
  position: relative;
  height: 35px;
}
.glider {

  margin: 0 auto;
  margin-top: 45px; 
  position: relative;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
  transform: translateZ(0);
}
.glider-track {
  transform: translateZ(0);
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  z-index: 1;
  max-height: 200px;
}
.glider.draggable {
  max-height: 200px;
  user-select: none;
  cursor: -webkit-grab;
  cursor: grab;
}
.glider.draggable .glider-slide img {
  max-height: 150px;
  user-select: none;
  pointer-events: none;
}
.glider.drag {
  
  cursor: -webkit-grabbing;
  cursor: grabbing;
}
.glider-slide {

  user-select: none;
  justify-content: center;
  align-content: center;
  width: 100%;
  height: 300px;
  margin-top: 40px;
}
.glider-slide img {
  max-width: 100%;

}
.glider::-webkit-scrollbar {
  opacity: 0;
  height: 0;
}
.carousel__prev,.carousel__next {
  user-select: none;
  position: absolute;
  outline: none;
  background: none;
  padding: 0;
  z-index: 2;
  font-size: 40px;
  text-decoration: none;
  left: -23px;
  border: 0;
  top: 30%;
  cursor: pointer;
  color: #040404;
  opacity: 1;
  line-height: 1;
  transition: opacity .5s cubic-bezier(.17,.67,.83,.67),
              color .5s cubic-bezier(.17,.67,.83,.67);
}
.glider-prev:hover,
.glider-next:hover,
.glider-prev:focus,
.glider-next:focus {
  color: #a89cc8;
}
.glider-next {
  right: -23px;
  left: auto;
}
.glider-next.disabled,
.glider-prev.disabled {
  opacity: .25;
  color: #666;
  cursor: default;
}
.glider-slide {
  min-width: 150px;
}
.glider-hide {
  opacity: 0;
}
.glider-dots {
  user-select: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  padding: 0;
  margin-top: 30px;

  cursor: pointer;
  color: #ffffff00;
  /* border-radius: 999px; */
  background: #ccc;
  width: 12px;
  height: 12px;
  margin: 7px;
}
.glider-dot {
  border: 0;
  padding: 0;
  user-select: none;
  outline: none;
  display: block;
  cursor: pointer;
  color: #ffffff00;
  /* border-radius: 999px; */
  background: #ccc;
  width: 12px;
  height: 12px;
  margin: 7px;
}
.glider-dot:hover,
.glider-dot:focus,
.glider-dots.active {
  background: #592adb;
}
@media(max-width: 36em){
  .glider::-webkit-scrollbar {
    opacity: 1;
    -webkit-appearance: none;
    width: 7px;
    height: 3px;
  }
  .glider::-webkit-scrollbar-thumb {
    opacity: 1;
    border-radius: 99px;
    background-color: rgba(248, 0, 0, 0.25);
    box-shadow: 0 0 1px rgba(255, 5, 5, 0.25);
  }
}
.buttons {
  size: 500px;
  display: flex;
  justify-content: space-between;
}

.button {
  padding: 10px 20px;
  background-color: #0d0d0d;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  size:500 px;

}

#price.button {
  background-color: #b51c1c;
  size:500 px;
}

#price.button:hover {
  background-color: #469dfa;
  transform:scale(1.2);
  transition: 0.5s; 
}
#price {
  font-size: 20px;
}

.button:hover {
  background-color: #0056b3;
  transform:scale(1.2);
  transition: 0.5s; 
}

/* añadido luis */

#carousel-example {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}