<html>
<body>
    <br>
    <br>
    <br>
<div class="shopdivide">
<!-- <script> console.log("has entrado en shop.html"); </script> -->

    <h1>&nbsp;&nbsp;&nbsp;&nbsp;Listado de Inmuebles</h1>    
    <!-- list-viviendas -->
    
    <table class="listadoviviendas" border="1" style="width: 100%;">
        <tr>
          <td>
            <!-- Columna de la izquierda -->
            <ul style="width: 500px;">
                <div class="container_shop" id="content_shop_viviendas"> </div> 
            </ul>
          </td>
          <td>
            <!-- Columna de la derecha -->
            <i style="width: 500px;">Fila única</i>
          </td>
        </tr>
      </table>
    </div>
                              
    <!-- details-viviendas -->
    <div id="details-shop">
      <div class="date_img" id="container-date-img">
          <!-- Contenido del primer elemento -->
      </div>
      <div class="date_viviendas" id="container-date-img">
          <!-- Contenido del segundo elemento -->
      </div>
  </div>
  

</div>  
</body>
</html>